{% extends "./base.html" %}

{% block body %}
<body>
  <div class="relative bg-white">
    {% block header %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block title %}
    {% endblock %}

    <div id="body-content">
      {% block main %}
      {% block content %}
      {{ content | safe }}
      {% endblock %}
      {% endblock %}
    </div>

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}
  </div>

  <script defer src="/static/js/lunr.min.js"></script>
  <script defer src="/static/js/search_index.js"></script>
  <script defer src="/static/js/search.js"></script>
  <script defer src="/static/js/alpine.js"></script>

  {% if path == 'home' %}
    <!-- Netlify Identity Widget -->
    <!-- Needed only if you are using Netlify Identity feature -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  {% endif %}
</body>
{% endblock %}
